* {
    box-sizing: border-box;
    margin: 1rem;
}

.container {
    display: grid;
    grid-template-columns: 200px 40vw 20rem;
    /* burada columlarımızı ayarladık  */
    grid-template-columns: 100px 500px 20vh 5rem;
}

.content {
    /*! ortak klasımız  */
    background-color: bisque;
    border: 2px solid black;

}